:root {
    --red: #f45342;
    --purple-grey: #35465c;
    --blue: #30abf2;
    --green: #2fb73d;

}

.sub-text {
    margin-left: 2em;
}

.submissions {
    line-height: 25px;
}

.purple-text {
    color: var(--purple);
    font-weight: bold;
}

.polls:hover {
    cursor: pointer;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 30%;
    font-family: Arial;
    font-size: 14px;
    line-height: 10px;
    margin: 20px 0 30px 0;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    color: black;
    border-bottom: 1px black solid;
}

#none {
    font-style: italic;
}

#last-table {
    border-bottom: 1px black solid;
}

.space {
    margin-bottom: 20px;
    margin-right: 30px;
    float: left;
}

.bottom-buttons {
    width: 100%;
    height: var(--syllabus-height);
    margin-bottom: 30px;
}


/*----------------------- google drive button ---------------------*/

#google-drive {
    border-color: var(--green);
}

#google-drive p {
    color: var(--green);
}

#google-drive .color-bar {
    background: var(--green);
}

#google-drive:hover p {
    color: white;
}


/*----------------------- git button ---------------------*/

#git {
    border-color: var(--purple-grey);
}

#git p {
    color: var(--purple-grey);
}

#git .color-bar {
    background: var(--purple-grey);
}

#git:hover p {
    color: white;
}


/*----------------------- git pages button ---------------------*/

#git-pages {
    border-color: var(--blue);
}

#git-pages p {
    color: var(--blue);
}

#git-pages .color-bar {
    background: var(--blue);
}

#git-pages:hover p {
    color: white;
}



@media (max-width: 800px) {

    table{
        width: 80%;
    }

    .bottom-buttons {
        width: auto;
        height: auto;
        margin: 0;
    }

    .space {
        float: none;
    }

}

@media (max-width: 550px) {

    table{
        width: 95%;
        font-size: 10px;
    }
}